* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /** Colors **/
  --mainColor: ;
  --secondaryColor: ;
  --hoverColor: ;
  --paraColor: ;

  --headingColor: ;
  --subHeadingColor: ;

  --buttonColor: ;
  --buttonHover: ;

  /** Size **/
  --headingSize: ;
  --subHeadingSize: ;
  --paraSize: ;
}

body {
}

a {
  text-decoration: none;
}
